.spinner {
    font-size: 55px;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.spinning {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }