.film {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    color: rgb(54, 54, 54);
    border: solid 1px green;
}

.link {
    background-color: blue;
    width: 100%;
}

.title {
    margin-top: -2px;
    font-size: 18px;
    text-align: center;
}

img {
    width: 80%;
    height: 100%;
}

.film img:hover {
    opacity: 0.5;
}