.form {
/*     border: solid 1px rgb(54, 54, 54); */
    width: 15rem;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2px;

}

.input {
    border: solid 1px rgb(255, 255, 255);
    padding: 5px;
    border-radius: 2px;
    width: 100%;
}

input:focus {
    outline: none;
}

button {
    background-color: #fff;
    border: solid 1px rgb(255, 255, 255);
    color: rgb(54, 54, 54);
}