.movieListTitle {
   width: 100%;
   margin-top: 50px;
   text-align: center;
   font-size: 18px;
}

.movieList {
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: stretch;
   flex-wrap: wrap;
   gap: 10px;
 }

 .parrafo {
    margin: 50px 0px;
    text-align: center;
    font-size: 24px;
 }


@media (min-width:920px) {
     .movieListTitle{
      margin-top: 75px;
      font-size: 24px;
   } 

   .parrafo {
      margin: 75px 0px;
      text-align: center;
   }
}   


  

