.movieList {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  /*   grid-template-rows: auto auto; */
    margin: 20px 0px;
 }

 .parrafo {
    margin: 50px 0px;
    text-align: center;
 }


 @media (min-width:576px) {
    .movieList{
       grid-template-columns: repeat(4,1fr);
       gap: 15px;
    }
}   


@media (min-width:920px) {
   .movieList{
      grid-template-columns: repeat(10,1fr);
   }
}   

