.listadoPeliculas {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width:576px) {
    .listadoPeliculas {
       display: flex; 
       flex-direction: row;
       flex-wrap: wrap;
    }
    
}