.brandContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.logo{
   width: 7%;
   height: auto;
   color: rgb(255, 0, 0);
   margin-top: 10px;
}


