.movieList {
    display: grid; 
    grid-template-columns: 1fr;
    align-items: baseline;
    justify-content: flex-start;
    height: auto;
    border: solid 1px blue;
    width: 100%;
 }


 @media (min-width:1200px) {
    .movieList{
       grid-template-columns: repeat(5,1fr);
    }
}  