.pelicula {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

img {
    width: 310px;
    height: 465px;
    border-radius: 10px;
    height: auto;
}

