.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border: solid 1px red;

}

.form {
    border: solid 1px rgb(54, 54, 54);
    width: 15rem;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2px;

}

.input {
    border: solid 1px rgb(255, 255, 255);
    border-radius: 0px;
    width: 90%;
}

input:focus {
    outline: none;
}

button {
    background-color: #fff;
    border: solid 1px rgb(255, 255, 255);
    color: rgb(54, 54, 54);
}