.containerDetail {
    width: 100%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detailImage {
    width: 50%;
}

.description {
    width: 50%;
}

.item {
    color: rgb(255, 0, 0);
    font-size: 20px;
}

.item:hover {
    color: rgb(160, 0, 0);
    cursor: pointer;
}


@media (min-width:768px) {
    .containerDetail {
    margin: 100px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .detailImage {
        width: 40%;
    }

    .description {
        width: 40%;
        margin: 20px;
    }
}   


@media (min-width:920px) {
          .detailImage {
            width: 35%;
        }
    
        .description {
            width: 35%;
            margin: 20px;
        }
}   


@media (min-width:1200px) {
    .detailImage {
      width: 25%;
  }

  .description {
      width: 30%;
      margin: 20px;
  }
}   



@media (min-width:1920px) {
    .detailImage {
      width: 18%;
  }

  .description {
      width: 18%;
      margin: 20px;
  }
}   


