.containerDetail {
    width: 100%;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: rgb(255, 255, 255);
}

.detailImage {
    width: 60%;
}

.description {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.arrow {
    color: rgb(255, 0, 0);
    font-size: 24px;
}

.arrow:hover {
    color: rgb(160, 0, 0);
    cursor: pointer;
}

.plus {
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    display: inline-block;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    width: 40%;
}

.plus:hover {
    cursor: pointer;
    background-color: rgb(160, 0, 0);
}



@media (min-width:768px) {
    .containerDetail {
    margin: 75px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .detailImage {
        width: 45%;
    }

    .description {
        width: 35%;
        margin: 20px;
    }
}   


@media (min-width:920px) {

        .containerDetail {
        margin: 120px 0px;
        }

          .detailImage {
            width: 30%;
        }
    
        .description {
            width: 30%;
            margin: 20px;
        }
}   


@media (min-width:1200px) {
    .detailImage {
      width: 25%;
  }

  .description {
      width: 45%;
      margin: 20px;
  }
}   



@media (min-width:1920px) {
    .detailImage {
      width: 22%;
  }

  .description {
      width: 22%;
      margin: 20px;
  }
}   


